.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
      h1 {
        font-size: 2.5rem;
        padding: 1rem 0;
        color: #0c0015;
        position: relative;
        z-index: -1;

        &::after {
          content: "";
          width: 60px;
          height: 5px;
          border-radius: 50px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #a43af8;
        }
      }
      p {
        padding: 1.5rem 0;
        font-size: 1.2rem;
        color: #333;
      }
      button {
        width: 150px;
        height: 45px;
        font-size: 1rem;
        border-radius: 50px;
        background: #1e0036;
        color: #fff;
        box-shadow: -5px -6px 0px 2px #a43af8;
        cursor: pointer;
        margin: 1rem 0;

        &:hover {
          box-shadow: 5px 6px 0px 2px #a43af8;
        }
      }
    }
  }

  .shortInfo {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .course1 {
      width: 250px;
      height: 170px;
      background: #a43af84d;
      border-radius: 15px;
      padding: 1rem;
      border: 4px solid #1e0036;
      margin: 0.5rem;
      box-shadow: -4px 4px 0 2px #a43af8;

      .heading {
        font-size: 1.5rem;
        color: #0c0015;
        padding: 0.5rem 0;
        text-align: left;
      }
      p {
        font-size: 0.9rem;
        color: #0c0015;
      }
      h1 {
        width: 100%;
        text-align: right;
        padding: 1rem;
        font-size: 2.5rem;
      }
    }
  }

  .courses {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .heading {
      h1 {
        font-size: 2rem;
        padding: 2rem 0;
        color: #0c0015;
      }
    }

    .box {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .box1 {
        width: 300px;
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 0px #a43af8c4;
        margin: 0.5rem;
        background: rgb(228 196 253 / 34%);
        cursor: pointer;

        img {
          width: 100%;
        }

        .description {
          width: 100%;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          h1 {
            padding: 1rem 0;
            font-size: 1.6rem;
            color: #0c0015;
          }
          p {
            padding: 0.2rem 0;
            color: #0c0015;
          }
          h2 {
            padding: 0.5rem 0;
            color: #0c0015;
          }
          button {
            width: 110px;
            height: 40px;
            font-size: 1rem;
            border-radius: 50px;
            background: #1e0036;
            color: #fff;
            box-shadow: -3px -2px 0px 2px #a43af8;
            margin: 1rem 0;
            margin-bottom: 0;
            cursor: pointer;

            &:hover {
              box-shadow: 3px 2px 0px 2px #a43af8;
            }
          }
        }

        &:hover {
          box-shadow: 0px 0px 6px 0px rgb(30 0 54 / 77%);
        }
      }
    }
  }


// Responsive Part

@media screen and (max-width: 1045px) {
  .home .hero .rightSide1 .image {
    width: 350px;
    height: 350px;
  }
  .home .hero .leftSide {
    width: 450px;
  }
}


